/*=============================================================================*/
/*=============== BASE ===============*/
/*=============================================================================*/
body {
	font-family: "Georgia", "Arial", sans-serif;
	background: #afbc88;
	margin: 0;
}
h1 {
	color: #546015;
	letter-spacing: 0.5em;
	text-align: justify;
}
h1:after {
  content: "";
	display: inline-block;
  width: 100%;
}
h2 { color: #e59a44; }
h3 { color: #47cae8; }
h4 { color: #47e8aa; }
h5 { color: #ed3de1; }
h6 { color: #4286f4; }
p { text-indent: 1.4em; }
p::first-letter {
	color: #e59a44;
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #000;
}

/*=============================================================================*/
/*=============== LAYOUT ===============*/
/*=============================================================================*/
#content-wrap {
	max-width: 1000px;
	margin: 0 auto;
	background: #FFF;
	position: relative;
}

#content-table {
	background: #618b4a;
}

#main {
	padding: 20px;
}

/*=============================================================================*/
/*=============== NAV ===============*/
/*=============================================================================*/
#content-table h1 {
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
	color: black;
	margin: 0;
	padding: 20px 0;
	width: 100%;
	background: pink;
}
.nav {
	margin: 0;
	padding: 0;
	text-align: center;
	background: pink;
}
.nav::after {
	content: "";
	display: table;
	clear: both;
}
.nav li {
	list-style-type: none;
	width: 20%;
	float: left;
}
.nav a {
	display: block;
	padding: 5px;
	height: 100%;
	text-transform: uppercase;
	border: 1px solid #000;
	line-height: 1.3em;
	min-height: 2.6em;
	cursor: context-menu;
}
.nav a:hover {
	background-color: #40531b;
}
.nav > li:last-child > a {
	border-bottom: 1px solid #000;
}


/*=============================================================================*/
/*=============== PAGE NAV ===============*/
/*=============================================================================*/
.page-menu a {
	text-transform: uppercase;
}
.page-menu a:hover {
	text-decoration: underline;
}
.page-menu {
	padding: 0;
}
.page-menu li {
	list-style-type: none;
}

/*=============================================================================*/
/*=============== TABLE ===============*/
/*=============================================================================*/
.table {
	border: 1px solid #999;
	border-collapse: collapse;
	text-align: center;
}
.table>thead,
.table>tfoot {
	text-transform: uppercase;
	color: #e59a44;
}
.table>tbody {
	text-decoration: underline;
}
.table td,
.table th {
	border: 1px solid #999;
	padding: 5px;
	background-color: #e4fde1;
}
.table th:nth-child(1),
.table td:nth-child(1) {
	background-color: #456990;
	color: white;
}

/*=============================================================================*/
/*=============== ORDERED LIST ===============*/
/*=============================================================================*/
ol {
	list-style-type: upper-roman;
}
ol ol {
	list-style-type: lower-roman;
}
ol ol ol {
	list-style-type: lower-greek;
}

/*=============================================================================*/
/*=============== FLOATED IMAGES ===============*/
/*=============================================================================*/
.floated-img {
	max-width: 250px;
	float: left;
}
.floated-img.float-right {
	float: right;
}

/*=============================================================================*/
/*=============== MEDIA PRINT ===============*/
/*=============================================================================*/
@media print {

img {
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
}

#content-table {
  display: none;
}

p::first-letter {
	color: #000;
	font-size: 20px;
}

.table>thead,
.table>tfoot {
	color: #000;
}

#main {
	padding: 0px;
	margin-left: 0px;
}

body {
	line-height: 1.3;
	background: #fff !important;
	color: #000;
}

h1 {
	font-size: 24pt;
	color: #000;
}

h2, h3, h4, h5, h6 {
	font-size: 14pt;
	color: #000;
}

a:link, a:visited, a {
	font-weight: bold;
	text-decoration: underline;
}

a {
  page-break-inside:avoid
}
}
