/*=============================================================================*/
/*=============== BASE ===============*/
/*=============================================================================*/
body {
	font-family: "Arial", sans-serif;
	background: #afbc88;
	margin: 0;
}
h1 {
	color: #546015;
	letter-spacing: 0.5em;
}
h2 { color: #e59a44; }
h3 { color: #47cae8; }
h4 { color: #47e8aa; }
h5 { color: #ed3de1; }
h6 { color: #4286f4; }
p { text-indent: 1.4em; }
p::first-letter {
	color: #e59a44;
	font-size: 20px;
	text-decoration: overline;
}
a {
	text-decoration: none;
	color: #000;
}

/*=============================================================================*/
/*=============== MODULES ===============*/
/*=============================================================================*/
.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#content-table h1 {
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 1;
	text-align: center;
	color: black;
	padding: 20px 5px;
	margin: 0;
	width: 100%;
}
.nav {
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav::after {
	content: "";
	display: table;
	clear: both;
}
.nav li {
	list-style-type: none;
	display: block;
	width: 33.333%;
	float: left;
}
.nav a {
	display: block;
	padding: 20px 5px;
	text-transform: uppercase;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	line-height: 1.4;
	font-size: 14px;
	cursor: context-menu;
}
.nav a:hover {
	background-color: #40531b;
}
.nav > li:last-child > a {
	border-right: none;
}

#content-wrap {
	max-width: 1000px;
	margin: 0 auto;
	background: #FFF;
	position: relative;
}

#content-table {
	background: #618b4a;
}

#main {
	padding: 20px;
}

/*=============================================================================*/
/*=============== TABLE ===============*/
/*=============================================================================*/
.table {
	border: 1px solid #999;
	border-collapse: collapse;
	text-align: center;
}
.table>thead,
.table>tfoot {
	text-transform: uppercase;
	color: #e59a44;
}
.table>tbody {
	text-decoration: underline;
}
.table td,
.table th {
	border: 1px solid #999;
	padding: 5px;
	background-color: #e4fde1;
}
.table th:nth-child(1),
.table td:nth-child(1) {
	background-color: #456990;
	color: white;
}

/*=============================================================================*/
/*=============== ORDERED LIST ===============*/
/*=============================================================================*/
ol {
	list-style-type: upper-roman;
}
ol ol {
	list-style-type: lower-roman;
}
ol ol ol {
	list-style-type: lower-greek;
}

/*=============================================================================*/
/*=============== FLOATED IMAGES ===============*/
/*=============================================================================*/
.floated-img {
	max-width: 250px;
	float: left;
}
.floated-img.float-right {
	float: right;
}
